name: Build Sphinx and deploy to Pages

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["master", "test_pages"]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  # Build job
  build:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v6
      with:
        python-version: '3.12'

    - name: Setup Pages
      id: pages
      uses: actions/configure-pages@v5

    - name: Build Sphinx
      run: |
        pip install -I -r doc/requirements.txt
        cd doc && CLEAN_RST=1 make clean html

    - name: Upload pages artifact
      uses: actions/upload-pages-artifact@v3
      with:
        name: github-pages
        path: doc/build/html

    - name: Upload artifact
      uses: actions/upload-artifact@v5
      with:
        name: html${{ github.sha }}
        path: doc/build/html

    - name: Trigger RTDs build
      run: |
        curl -X POST -d "branches=${{ github.ref_name }}" -d "token=${{ secrets.RTDS_WEBHOOK_TOKEN }}" -d "default_branch=master" ${{ secrets.RTDS_WEBHOOK_URL }}

    # - name: Trigger RTDs build
    #   uses: dfm/rtds-action@v1
    #   with:
    #     webhook_url: ${{ secrets.RTDS_WEBHOOK_URL }}
    #     webhook_token: ${{ secrets.RTDS_WEBHOOK_TOKEN }}
    #     commit_ref: ${{ github.ref }}

  # Deployment job
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4